* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url("https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1883&q=80");
  /* background-size: cover; */
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
.form {
  width: 350px;
  height: 390px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(5px);
  border: 1px solid rgb(70, 152, 228);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  gap: 46px;
}
.form h4 {
  font-family: poppins;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  padding-top: 20px;
  font-weight: bold;
  font-style: italic;
}
.form .login {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.login input,
button {
  margin: 10px;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 60px;
  font-size: 16px;
}
.login input {
  background-color: #ffffff2e;
  color: rgb(15, 67, 116);
  font-family: poppins;
  letter-spacing: 1px;
  text-indent: 35px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 15px;
  font-size: 20px;
}
.login input:first-child {
  background-image: url("../images/user.png");
}
.login input:nth-child(2) {
  position: relative;
}
.login i {
  position: absolute;
  top: 59%;
  /* color: red; */
  left: 53px;
  color: white;
}
.login input::placeholder {
  font-size: 14px;
  color: #504d4d;
}
.login #btn,
#reasetBtn {
  background-color: rgb(70, 152, 228);
  color: #fff;
  font-size: 17px;
  font-family: calibri;
  text-transform: uppercase;
  cursor: pointer;
}
.suggests {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: calibri;
  font-size: 16px;
  color: #fff;
}
.suggests .forgot a {
  color: rgb(70, 152, 228);
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-style: italic;
}
h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-style: italic;
  color: rgb(70, 152, 228);
  text-align: center;
  font-family: "Young Serif", serif;
}
h1 span {
  font-size: 3rem;
  text-transform: uppercase;
  font-style: italic;
  color: rgb(41, 99, 126);
  text-align: center;
  display: inline;
}

.register span a {
  color: rgb(70, 152, 228);
  font-size: 20px;
  font-style: italic;
  text-decoration: none;
  font-weight: 700;
}

.alertBox {
  position: absolute;
  top: 5%;
  right: 1%;
  z-index: 9999;
  border: 2px solid #eee;
  background-color: #fff;
  width: 400px;
  height: 80px;
  -moz-box-shadow: inset 0 0 2px #000000;
  -webkit-box-shadow: inset 0 0 2px #000000;
  box-shadow: inset 0 0 2px #000000;
  border-left: 2px solid red;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

.alertClose {
  color: #aaaaaa;
  float: right;
  font-size: 20px;
  margin: 2px 15px;
  cursor: pointer;
}

.alertClose:hover {
  color: #000;
}

.notification-sign {
  color: red;
  font-size: 25px;
  position: absolute;
  bottom: 20%;
  left: 5%;
}

.alertBox h1 {
  color: #000;
  margin: 5px 10px;
  text-align: left;
  font-size: 17px;
}

.alertBox p {
  text-align: center;
  font-size: 23px;
  font-family: arial;
  color: #6b6a6a;
  margin: 15px 30px;
}

/* Animations to fade the snackbar in and out */
/* @-webkit-keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 1%;
    opacity: 1;
  }
} */

@keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 1%;
    opacity: 1;
  }
}
@keyframes fadOut {
  from {
    right: 1%;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}
.pageAll {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.429);
  width: 99.8vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  border: 1px solid rgb(70, 152, 228);
  top: -1000%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.active {
  top: -189px;
}
.popup {
  background-color: rgba(188, 185, 185, 0.869);
  width: 350px;
  height: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  top: 188px;
  position: absolute;
  border-radius: 5px;
}
.popup h3 {
  color: rgb(67 140 218);
  font-size: 23px;
  font-style: italic;
}
.popup .reaset input[type="password"] {
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 20px;
  width: 205px;
}
.popup label {
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  /* display: block; */
  /* margin-right: 145px; */
  padding-right: 10px;
}
.popup input[type="submit"] {
  width: 107px;
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, 10px);
  border: none;
  outline: none;
  padding: 10px 23px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
