* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  display: flex;
  padding: 50px 0;
  background-color: white;
}
.section-1 img {
  width: 147px;
}
.section-1 h1 {
  font-size: 44px;
  color: #444;
  font-style: italic;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.section-1 h1:hover {
  color: black;
}

.section-2 {
  background-color: rgb(247, 246, 245);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30px 70%;
  grid-template-columns: 30% 70%;
  gap: 30px;
  padding: 30px 50px;
}
.section-2 .filterIcon {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  color: rgb(5, 52, 255);
  border: 1px solid rgb(5, 52, 255);
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 0;
  cursor: pointer;
}
.section-2 .containerToCars {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minMax(300px, 1fr));
  gap: 20px;
}
.section-2 .containerToCars .carBox {
  overflow: hidden;
  background: white;
  border-radius: 12px;
  border: 2px solid rgba(68, 68, 68, 0.2666666667);
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
  cursor: pointer;
  cursor: pointer;
}
.section-2 .containerToCars .carBox .imgBox {
  margin-bottom: 4px;
}
.section-2 .containerToCars .carBox .imgBox img {
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  height: 100%;
}
.section-2 .containerToCars .carBox:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 3px 0px 180px 10px, rgba(0, 0, 0, 0.16) 11px 8px 8px -8px;
          box-shadow: rgba(0, 0, 0, 0.1) 3px 0px 180px 10px, rgba(0, 0, 0, 0.16) 11px 8px 8px -8px;
}
.section-2 .containerToCars .carBox .content {
  padding-left: 13px;
}
.section-2 .containerToCars .carBox .content .name h3 {
  color: rgb(36, 45, 61);
  font-weight: 700;
}
.section-2 .containerToCars .carBox .content .name h3 span {
  color: #555;
  font-weight: 400;
}
.section-2 .containerToCars .carBox .content .name .shape {
  color: #999;
}
.section-2 .containerToCars .carBox .content .details {
  color: rgb(102, 102, 102);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.section-2 .containerToCars .carBox .content .details > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  font-size: 20px;
  font-style: italic;
}
.section-2 .containerToCars .carBox .content .details > div:first-child svg {
  width: 26px;
  height: 43px;
}
.section-2 .containerToCars .carBox .content .details > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 20px;
  font-style: italic;
}
.section-2 .containerToCars .carBox .content .details > div:last-child i {
  color: black;
  font-size: 20px;
}
.section-2 .containerToCars .carBox .content .price {
  padding-top: 7px;
  border-top: 1px solid #cbcbcb;
  margin-top: 19px;
  margin-right: 10px;
  margin-left: 10px;
  padding-bottom: 8px;
}

.filter {
  background-color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 12px;
  border-radius: 15px;
}
.filter .tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filter .tittle .xmarkIcon {
  display: none;
  color: rgb(5, 52, 255);
  font-size: 24px;
  cursor: pointer;
}
.filter .tittle .xmarkIcon.active {
  display: inline-block;
}
.filter .tittle h3 {
  padding: 10px 0;
  color: #333;
  font-size: 31px;
  text-transform: capitalize;
  font-weight: 400;
}
.filter .tittle button {
  color: rgb(5, 52, 255);
  text-decoration: underline;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}
.filter form label {
  text-transform: capitalize;
}
.filter form select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 17px;
}
.filter form .minMaxprice {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 46% 20px 46%;
  grid-template-columns: 46% 46%;
  gap: 20px;
  font-size: 17px;
}
.filter form input[type=submit] {
  border: none;
  outline: none;
  padding: 10px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: block;
  margin-top: 12px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 758px) {
  .filter {
    position: absolute;
    top: -100%;
    width: 100%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .section-2 {
    /* grid-template-columns: 0% 100%; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-2 .filterIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-1 img {
    width: 100px;
  }
  .section-1 h1 {
    font-size: 25px;
  }
}