* {
  box-sizing: border-box;
}

:root {
  --mainColor: rgb(20,131,213);
}

body {
  /* background-color: rgb(89, 89, 89); */
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  /* padding: 10px 0; */
}

.header .nav-bar {
  position: fixed;
  width: 100%;
  background-color: var(--mainColor);
  top: 0px;
  right: 0px;
  left: 0px;
  margin: 0;
  padding: 10px 0;
  z-index: 999999999;
}

.container {
  display: flex;
  align-items: center;
}

.navBar {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  /* display: block; */
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.navBar .leftSection ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.navBar .leftSection ul li a {
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  font-family: "Mukta", sans-serif;
  cursor: pointer;
  text-decoration: none;
}

.leftSection {
  display: flex;
  align-items: end;
  padding-top: 13px;
}

.navBar .leftSection .mainMenu .diffrent a {
  word-spacing: -0.5px;
  transition: 0.2s;
}

.navBar .leftSection .mainMenu a:hover {
  background-color: white;
  color: black !important;
  border-radius: 10px;
  padding: 3px 10px;
}

.headerInput {
  width: 350px;
  height: 40px;
  border-radius: 20px;
  outline: none;
  border: 0;
  padding-left: 44px;
  background-color: rgb(31, 31, 31);
}

.midSection {
  position: relative;
}

.iconHeader {
  position: absolute;
  z-index: 2;
  padding-left: 16px;
  display: block;
  text-align: center;
  top: 12px;
  color: rgb(197, 196, 194);
}

.midSection input::placeholder {
  font-size: 20px;
  color: rgb(214, 209, 209);
}

.midSection input:focus {
  /* border: 2px solid black; */
  box-shadow: rgb(31, 31, 31) 0px 0px 0px 0.125rem, rgb(37, 99, 147) 0px 0px 0px 0.25rem, rgb(31, 31, 31) 0px 0px 0px 0.35rem !important;
}

.rightSection a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px;
}

.rightSection #login {
  position: relative;
}

.rightSection #login::before {
  content: "";
  position: absolute;
  height: 38px;
  top: 5px;
  display: block;
  border-right: 3px solid rgb(163, 159, 159);
  right: -1px;
}

.mainPage {
  height: 100vh;
  /* margin-top: 10px; */
  background-image: url("https://img.freepik.com/free-vector/creative-illustrated-car-background_52683-68254.jpg?w=1380&t=st=1697548201~exp=1697548801~hmac=d73b9e70050e92b77b67f9aaaff1a216b78c00641ca5f91ac0a4f533475279b5");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.mainPage h1 {
  color: rgb(0, 151, 251);
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.mainPage .services ul {
  list-style: none;
  display: flex;
  gap: 15px;
  text-align: center;
}

.mainPage .services ul li a {
  color: rgb(0, 151, 251);
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  font-weight: bold;
  border-bottom: 2px solid rgb(46, 89, 116);
  transition: 0.3s all;
}

.mainPage .services ul li a:hover {
  font-size: 26px;
  color: rgb(159, 103, 29);
  border-color: bisque;
}

.icon {
  display: none;
}

@media (max-width: 1192px) {
  .navBar .midSection {
    display: none;
  }
}
nav {
  background: var(--mainColor);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .mainMenu {
  display: flex;
  list-style: none;
  gap: 15px;
}

nav .mainMenu li a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 14px;
  transition: 0.2s ease;
}

nav .openMenu {
  font-size: 2rem;
  margin-left: 10px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

nav .logo {
  margin: 6px;
  cursor: pointer;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  nav .mainMenu {
    height: 300px;
    position: fixed;
    top: -100%;
    right: 0px;
    left: 0px;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(99, 99, 99);
    transition: top 1s ease 0s;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  .navBar {
    flex: none;
  }
  .nav-bar .container {
    display: flex;
    justify-content: space-between;
  }
}
.infoAroundFriend {
  min-height: 400px;
  background-color: var(--mainColor);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.infoAroundFriend > div {
  background-color: aliceblue;
  height: 200px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  box-shadow: 10px 10px 5px rgb(139, 152, 156);
}

.infoAroundFriend > div i {
  font-size: 25px;
  position: relative;
  z-index: 1111111;
}

.infoAroundFriend > div > i::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(205, 201, 195);
  top: -13px;
  left: -12px;
  border-radius: 50%;
  z-index: -1;
}

.infoAroundFriend > div > div {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoAroundFriend > div > div span:first-child {
  font-size: 20px;
  color: cadetblue;
}

.infoAroundFriend > div > div span:last-child {
  color: #2c7aed;
  font-size: 26px;
}

.brandsCar {
  text-align: center;
  padding: 30px 0;
}

.brandsCar .tittle h1 {
  padding: 10px;
  text-transform: uppercase;
  font-style: italic;
  color: #2c7aed;
  cursor: pointer;
  font-weight: bold;
}

.brandsCar .tittle p {
  padding: 10px;
  text-transform: capitalize;
  font-style: italic;
  font-size: 25px;
  max-width: 598px;
  margin: auto;
  font-variant: unicase;
  font-weight: 600;
  color: #5f86c0;
}

/* slider  */
.container1 {
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.slider__img {
  width: 100%;
  display: none;
}

.slider__img--active {
  display: block;
  max-height: 455px;
}

.slider__left {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.slider__right {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.counter-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.slider__pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider__pagination-item {
  background-color: rgba(255, 255, 255, 0.5);
  width: 30px;
  height: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.slider__pagination-item--active {
  background-color: white;
}

/* BRANDS  */
.brandsCar > div > h3 {
  padding: 40px;
  font-style: italic;
  color: rgb(214, 176, 126);
  cursor: pointer;
}

.active {
  background-color: white;
  color: black !important;
  border-radius: 10px;
  padding: 3px 10px;
}

a {
  text-decoration: none;
}

body {
  background-color: #1e1e20;
}

/*======================================*/
.mySwiper {
  width: 90%;
  margin: 10px auto;
}

.slider-box {
  width: 100%;
  padding: 20px;
  border: 1px solid #3f3f3f;
  display: flex;
  grid-gap: 10px;
  user-select: none;
  flex-direction: column;
}

.slider-text {
  margin-bottom: 30px;
}

.swiper-slide:nth-of-type(odd) .slider-box {
  flex-direction: column-reverse;
}

.swiper-slide:nth-of-type(odd) .slider-box .slider-text {
  margin-top: 30px;
  margin-bottom: 0px;
}

.slider-img {
  width: 100%;
  height: 600px;
  filter: grayscale(0.8);
  opacity: 0.8;
  transition: all ease 0.3s;
}

.slider-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slider-text strong {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 4px;
}

.slider-box:hover .slider-img {
  opacity: 1;
  filter: grayscale(0);
}

.swiper-pagination {
  position: static !important;
  margin-top: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

@media (max-width: 600px) {
  .slider-img {
    height: 500px;
  }
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4549019608);
  transition: opacity 0.75s, visibility 0.75s;
  opacity: 0;
  visibility: hidden;
  z-index: 99999999999;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: rgb(20, 131, 213);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.loader--visible {
  opacity: 1;
  visibility: visible;
}