:root {
  --main-color: rgb(80, 147, 223);
}

header {
  background-color: var(--main-color);
  position: fixed;
  width: 100vw;
  z-index: 9999999999;
}

.navBar {
  display: flex;
  gap: 22px;
  padding: 10px 30px;
  align-items: center;
}
.navBar .logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.navBar .navBar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navBar .navBar-content .iconISmall {
  display: none;
}
.navBar .navBar-content .leftSections .mainUl {
  display: flex;
  gap: 10px;
}
.navBar .navBar-content .leftSections .mainUl li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.navBar .navBar-content .leftSections ul .notifactions {
  color: rgb(232, 76, 76);
  position: absolute;
  /* left: 0; */
  top: -4px;
  right: -16px;
  display: none;
}
.navBar .navBar-content .midSection form {
  position: relative;
}
.navBar .navBar-content .midSection .input1 {
  padding: 10px;
  border-radius: 25px;
  outline: none;
  border: none;
  padding-left: 40px;
}
.navBar .navBar-content .midSection i {
  position: absolute;
  left: 0px;
  top: 12px;
}
.navBar .navBar-content .midSection form input[type=submit] {
  padding: 10px;
  border-radius: 10px;
  z-index: -1;
  /* left: 98px; */
  right: -73px;
  top: 0;
  border: none;
  outline: none;
}

@media (max-width: 768px) {
  .navBar-content .midSection {
    position: absolute !important;
    padding: 0px;
    bottom: -105px;
    background: rgb(32, 112, 232);
    height: 100px;
    display: flex !important;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    right: -100%;
    transition: 0.3s;
  }
  .navBar-content .midSection .headerInput {
    width: 211px;
  }
  .navBar-content .midSection i {
    position: absolute !important;
    left: 8px !important;
    top: 51px !important;
  }
  .navBar-content .iconISmall {
    display: inline-block !important;
    color: white;
    font-size: 21px;
    padding: 12px;
    border-radius: 50%;
    background: darkgray;
    cursor: pointer;
  }
}
.activeSerach {
  right: 100px !important;
}

@media (max-width: 392px) {
  .activeSerach {
    right: 10px !important;
  }
}